html,
body {
  scrollbar-color: transparent transparent;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer */
  height: 100%; /* Full height */
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
  transition: background-image 0.5s ease-in-out; /* Smooth transition for background change */
}

.background-day {
  background-image: url("/src/components/light-background.jpg"); /* Set the background image */
  background-size: cover;
  /* Ensures the image covers the entire section */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed;
  width: 100%; /* Full width */
  height: 100%;
}
.background-night {
  background-image: url("/src/components/dark-background.jpg"); /* Set the background image */
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed;
  width: 100%; /* Full width */
  height: 100%; /* Set height, adjust as needed */
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.typewriter span {
  margin-inline: auto;
  overflow: hidden;
  /* Keeps on a Straight Line */
  white-space: nowrap;
  /* The Cursor */
  /* steps = number of characters */
  animation: typing 2s steps(22) forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.typewriter {
  margin-inline: auto;
  overflow: hidden;
  /* Keeps on a Straight Line */
  white-space: nowrap;
  /* The Cursor */
  /* steps = number of characters */
  animation: typing 2s steps(22) forwards;
}

.rotate-clockwise {
  transition: transform 0.5s ease-in;
  transform: rotate(360deg);
}

.rotate-anticlockwise {
  transition: transform 0.5s ease-out;
  transform: rotate(0deg);
}

/* FOR MY OTHER PROFILES */
.expandable {
  display: inline-block; /* Make it take only as much width as the text */
  position: relative; /* Use relative positioning for the dropdown */
  z-index: 9999; /* Ensure it is on top of everything */
}

.expandable summary {
  cursor: pointer; /* Change cursor to pointer */
  list-style: none; /* Remove default list style */
  outline: none; /* Remove outline */
}

.expandable summary::-webkit-details-marker {
  display: none; /* Hide the default triangle */
}

.expandable ul {
  position: absolute; /* Position the list absolutely */
  top: 100%; /* Position it below the summary */
  display: none; /* Hide by default */
}

.expandable[open] ul {
  display: block; /* Show when open */
}

.expandable2 {
  display: inline-block; /* Make it take only as much width as the text */
  position: relative; /* Use relative positioning for the dropdown */
  z-index: 9999; /* Ensure it is on top of everything */
}

.expandable2 summary {
  cursor: pointer; /* Change cursor to pointer */
  list-style: none; /* Remove default list style */
  outline: none; /* Remove outline */
}

.expandable2 summary::-webkit-details-marker {
  display: none; /* Hide the default triangle */
}
.expandable2 ul {
  position: absolute; /* Position the list absolutely */
  top: 40px; /* Position it below the summary */
  display: none; /* Hide by default */
}
.expandable2[open] ul {
  display: block; /* Show when open */
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
